<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:fragment="navbar" class="navbar px-2 border-bottom">
    <div class="d-flex">
        <div class="nav-item">
            <a th:href="@{/}" class="nav-link important"><strong>Ride It Out</strong></a>
        </div>
        <div class="nav-item ms-3">
            <a th:href="@{/aboutus}" class="nav-link important"> About Us </a>
        </div>
        <div class="nav-item ms-3">
            <a th:href="@{/faq}" class="nav-link important"> FAQ </a>
        </div>
        <div class="nav-item ms-3">
            <a th:href="@{/listings}" class="nav-link important"> Listings </a>
        </div>
    </div>
    <div class="d-flex">
        <div class="nav-item" sec:authorize="not isAuthenticated()">
            <a th:href="@{/register}" class="nav-link important"> Register </a>
        </div>
        <div class="nav-item ms-3" sec:authorize="not isAuthenticated()">
            <a th:href="@{/login}" class="nav-link important"> Login </a>
        </div>
        <div sec:authorize="isAuthenticated()" class="nav-item ms-3">
            <a th:href="@{/profile}" class="nav-link important"> Profile </a>
        </div>
        <div class="nav-item logout-item ms-3" sec:authorize="isAuthenticated()">
            <form id="logoutForm" th:action="@{/logout}" th:method="post">
            </form>
            <a class="nav-link important" href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
        </div>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
