.listings {
    height: 40vw;
    overflow-y: scroll
}

.carousel-inner, .carousel-item {
    height: 20em;
}

.carousel-item img {
    width: 38%;
    object-fit: cover;
}

.car-photo {
    width: 10%;
    object-fit: contain;
}

.owners-card {
    height: 4em;
}