/* Set the desired height for the carousel */
.carousel-item {
    /*height: fit-content;*/
    width: 100vw;
    margin: 0;
    height: fit-content;
    font-size: small;

}

/* Center the content vertically and horizontally */
.carousel-item img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}

.steps-container {
    list-style-type: inherit;
    padding: 0;
}

.step {
    margin: 20px 0;
}

.header {
    padding-bottom: 10px;
    text-align: center;
    font-size: x-small;

}

html {
    box-sizing: border-box;
}

.cover {
    position: relative;
    top: 70px;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: .2em;
    margin: -13px;
    height: 7px;
    box-shadow: dimgrey;
}

.container h1 {
    padding-top: 8px;
    text-align: center;
}

.container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.right-container li.step p {
    font-family: "Futura", serif;
    font-size: smaller;
}


/* Make <h2> elements bold and use a different font */

.right-content li.step h2 {
    font-weight: bolder;
    font-family: "Futura", serif;
}

.faq {
    width: 500px;
    margin: 20px auto;
    font-family: "Lucida Console", "Courier New", monospace;
}

.question {
    background-color: whitesmoke;
    padding: 10px;
    cursor: pointer;
    font-family: "Lucida Console", "Courier New", monospace;
}

.answer {
    display: none;
    background-color: whitesmoke;
    padding: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

:is(body) {
    font-family: "Futura", serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

.footer {
    margin-top: auto;
}

.big-img {
    width: 100vw;
}


.img-fluid {
    max-width: 10%;
}

.btn {
    background-color: #ED1D37;
    color: white;
}

.important{
    color: #354F7A;
}
.left-content.img-fluid{
    float: left;
}
img{
    border-radius: 2.25em;
    box-shadow: 10px 10px 5px #cccccc;
}

.home-img-1{
    height: 25%;
}

#logout{
    background-color: transparent;
    color: #ED1D37;
}

.form-control{
    width:100%;
}

.navbar{
    background-color: transparent;
}
.card-img-top{
    border-radius: 0;
    box-shadow: none;
}

.btn.nav-link{
    height: 24px;
    color: #354F7A;
    transition:  color .15s;
}

.col-1{
    width: 2px;
    border-color: #000000;
    opacity: .25;
    padding: 0;
    background-color: black;
}

@media (max-width: 992px) {
    .search-boxes{
        width: auto;
    }
    .col-4{
        width: 80%;
    }
    .hide-small{
        display: none;
    }
}