/* Set the desired height for the carousel */
.carousel-item {
    height: auto;
    width: 100vw;
    margin:0;
}

/* Center the content vertically and horizontally */
.carousel-item img {
    width: 100%;
    height: 100%;
    /*display: block;*/
    margin: 0;
}

.container {
    /*text-align: justify-all;*/
    padding:0;
    margin:0;
}

.steps-container {
    list-style-type: none;
    padding: 0;
}

.step {
    margin: 20px 0;
}

.header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    color: ghostwhite;
}

html {
    box-sizing: border-box;
}

.cover {
    position: relative;
    top:45px;
    z-index: 100;
    display: flex;
    justify-content: center;
    width:100%;
}

.container h1 {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.container img {
    width: 100%;
}

/* Reduce font size for steps */
.steps-container li.step p {
    font-optical-sizing: auto;
    font-family:"Lucida Console", "Courier New", monospace;
    font-size: 10px;
}

/* Make <h2> elements bold and use a different font */
.steps-container li.step h2 {
    font-weight: lighter;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}
/* Styling for FAQ section */
.faq {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.faq h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.faq-item {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.faq-item h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.faq-item p {
    display: none; /* Hide answers by default */
    margin: 10px 0 0;
    color: #666;
}

/* Styling for open answers */
.faq-item.open p {
    display: block;
}

.title{
    color: ghostwhite;
    font-weight: lighter;
    font-size: large;
}

body{
    font-family: "Helvetica Neue", serif;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: black;
}

.nav-item{
    color: ghostwhite;
}

.footer {
    margin-top: auto;
}
 .big-img {
     width: 100vw;
 }

