/* Set the desired height for the carousel */
.carousel-item {
    height: auto;
    width: 100vw;
    margin:0;

}

/* Center the content vertically and horizontally */
.carousel-item img {
    width: 100%;
    height: 100%;
    /*display: block;*/
    margin: 0;
}

.steps-container {
    list-style-type: none;
    padding: 0;
}

.step {
    margin: 20px 0;
}

.header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    color: ghostwhite;
}

html {
    box-sizing: border-box;
}

.cover {
    position: relative;
    top:80px;
    z-index: 100;
    display: flex;
    justify-content: center;
    width:100%;
    padding: .4em;
    margin:-13px;
    height: 20px;
    box-shadow: dimgrey;
;

}

.container h1 {
    border-top: 1px solid #ccc;
    padding-top: 20px;


    }
    .container img {
        width: 100%;
    }



    .steps-container li.step p {
        font-optical-sizing: auto;
        font-family: "Lucida Console", "Courier New", monospace;
        font-size: 10px;
        color: ghostwhite;
    }


    /* Make <h2> elements bold and use a different font */

    .steps-container li.step h2 {
        font-weight: lighter;
        font-family: "Lucida Console", "Courier New", monospace;
        font-size: 15px;
    }
.faq {
    width: 500px;
    margin: 20px auto;
    font-family: "Lucida Console", "Courier New", monospace;
}
.question {
    background-color:whitesmoke;
    padding: 10px;
    cursor: pointer;
    font-family: "Lucida Console", "Courier New", monospace;
}
.answer {
    display: none;
    background-color: whitesmoke;
    padding: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}


    .title {
        color:ghostwhite;
        font-weight: lighter;
        font-size: large;
    }

    :is(body) {
        font-family: "Lucida Console", "Courier New", monospace;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        background-color: black;
    }

    .nav-item {
        color:black;
    }

    .header {
        color: whitesmoke;
    }

    .footer {
        margin-top: auto;
    }

    .big-img {
        width: 100vw;
    }

    /*.img-responsive {*/
    /*    width: 100px;*/
    /*    height: 100px;*/
    /*}*/

.nav-item{
    color: ghostwhite;
}

.footer {
    margin-top: auto;
}
 .big-img {
     width: 100vw;
 }


