<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <title>Landing Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div th:replace="partials/navbar :: navbar"></div>
        <br>
        <h1 class="important mt-4"><strong>Indulge in Effortless Elegance:</strong></h1>
        <h5 class="text-center mb-4">"Where Luxury Meets Smooth Rides - Experience the Ride It Out Difference!"</h5>
    </div>
    <br>
    <div class="container home-container">
        <div class="row d-flex justify-content-evenly">
            <div class="d-flex col-lg-3 col-12 ms-lg-5 ms-0 pe-0 align-items-center home-form">
                <form th:action="@{/search}" th:mehod="get" th:object="${search}"
                      class="flex-form form-group search-boxes w-100">
                    <input id="startDate" th:field="*{startDate}" type="text" placeholder="mm/dd/yyyy"
                           class="form-control mb-2">
                    <input id="endDate" th:field="*{endDate}" type="text" placeholder="mm/dd/yyyy"
                           class="form-control mb-2">
                    <input id="searchLocation" th:field="*{searchLocation}" type="text" placeholder="Enter A City"
                           class="form-control mb-2">
                    <button type="submit" class="btn w-100" value="search for cars">Search</button>
                </form>
            </div>
            <div class="border-end col-lg-1"></div>
            <div class="col-7">
                <img class="img-responsive" src="/img/ocean%20view.jpeg" alt="First slide">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <h1 class="important"><strong>How It Works</strong></h1>
        <div class="left-container">
            <div class="left-content home-container">
                <img id="img2" class="home-img-1" src="/img/keys.jpeg" alt="Keys hand off">
            </div>
            <div class="right-container">
                <div class="right-content">
                    <hr>
                    <div class="row my-4">
                        <div class="col-lg-4 col-12">
                            <h3 class="important text-center">Step 1: Find the Perfect Car</h3>
                            <p class="text-center">Enter a location and date and browse thousands of cars shared by
                                local hosts.</p>
                        </div>
                        <div class="col-lg-4 col-12">
                            <h3 class="important text-center">Step 2: Book Your Trip</h3>
                            <p class="text-center">Book on the RideItOut app or online, choose a protection plan, and
                                say hi to your
                                host!
                                Cancel for free up to 24 hours before your trip.</p>
                        </div>
                        <div class="col-lg-4 col-12">
                            <h3 class="important text-center">Step 3: Hit the Road</h3>
                            <p class="text-center">Have the car delivered or pick it up from your host. Check in with
                                the app, grab the
                                keys, and hit the road!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="partials/footer :: footer"></div>
</div>
<script src="/js/scripts.js"></script>
</body>
</html>