<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head ('Welcome to Ride It Out!')}">
</head>
<body class="main-container main-bg">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
	<h1>Welcome to <span class="logo-font">Ride It Out</span></h1>
	<h2>Rent the car of your dreams!</h2>
</main>
<footer th:replace="~{partials :: footer}"></footer>
<div th:replace="~{partials :: boot-scripts}"></div>
</body>
</html>
